.main-block-settings {
    width: 100%;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.wripper-block {
    width: 90%;
    font-family: Exo\ 2, sans-serif;
    margin: auto;
}

.tittle-block {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
}

.changes-block {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    border: 2px solid rgb(175, 178, 182);
    box-sizing: initial;
    margin-top: 16px;
    padding: 40px;
    margin-bottom: 50px;
}

.theme-light {
    color: #afb2b6;
    font-weight: 500;
}

.tittle-theme-light {
    font-weight: 700;
    margin-bottom: 4px;
}

.settings-button {
    background-color: #7b61ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    max-width: 150px;
    outline: none;
}